paypal/paypal-wadl.xml

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
	xmlns="http://wadl.dev.java.net/2009/02"
	xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

	<resources base="https://svcs.sandbox.paypal.com">
	
		<resource path="/AdaptivePayments/Pay">
			<!-- <param name="format" type="xsd:string" style="template" required="false" 
				default="json"> <option value="json" mediaType="application/json"/> </param> -->
			<method id="Pay" name="POST" apigee:displayName="Pay">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/Pay" />
				<doc title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/pay-api-operation"><![CDATA[
				Use the Pay API operation to transfer funds from a sender’s PayPal account to one or more receivers’ PayPal accounts. You can use the Pay API operation to make simple payments, chained payments, or parallel payments; these payments can be explicitly approved, preapproved, or implicitly approved.
				]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
  "actionType":"PAY",
  "currencyCode":"USD",
  "receiverList":{"receiver":[{"amount":"1.00","email":"seller_1288085303_biz@gmail.com"}]},
  "returnUrl":"http://apigee.com/console/-1/handlePaypalReturn",
  "cancelUrl":"http://apigee.com/console/-1/handlePaypalCancel?",
  "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
                 ]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/PaymentDetails">
			<method id="PaymentDetails" name="POST" apigee:displayName="PaymentDetails">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/PaymentDetails" />
				<doc title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/paymentdetails-api-operation"><![CDATA[
					Use the PaymentDetails API operation to obtain information about a payment. You can identify the payment by your tracking ID, the PayPal transaction ID in an IPN message, or the pay key associated with the payment.
				]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "payKey":"AP-9JK61721EP167721B",
 "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/Preapproval">
			<method id="Preapproval" name="POST" apigee:displayName="Preapproval">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/Preapproval" />
				<doc title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/preapproval-api-operation"><![CDATA[
				Use the Preapproval API operation to set up an agreement between yourself and a sender for making payments on the sender’s behalf. You set up a preapprovals for a specific maximum amount over a specific period of time and, optionally, by any of the following constraints: the number of payments, a maximum per-payment amount, a specific day of the week or the month, and whether or not a PIN is required for each payment request.
				]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "senderEmail":"buyer_1288085239_per@gmail.com",
 "startingDate":"2013-01-21",
 "endingDate":"2013-10-21",
 "maxAmountPerPayment":"1.00",
 "maxNumberOfPayments":"10",
 "maxTotalAmountOfAllPayments":"50.00",
 "currencyCode":"USD",
 "dayOfWeek":"SUNDAY",
 "paymentPeriod":"WEEKLY",
 "memo":"Setting the preapproval for this month",
 "pinType":"NOT_REQUIRED",
 "returnUrl":"http://app.apigee.com/handle_paypal_return.html",
 "cancelUrl":"http://app.apigee.com/handle_paypal_cancel.html",
 "ipnNotificationUrl":"http://app.apigee.com/handle_paypal_ipn.html",
 "clientDetails":{ "ipAddress" : "127.0.0.1",
                     "deviceId" : "platformSDKSample",
                     "applicationId" : "APP-80W284485P519543T"
						 },
 "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/PreapprovalDetails">
			<method id="PreapprovalDetails" name="POST"
				apigee:displayName="PreapprovalDetails">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/PreapprovalDetails" />
				<doc title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/preapprovaldetails-api-operation">
                    <![CDATA[
					Use the PreapprovalDetails API operation to obtain information about an agreement between you and a sender for making payments on the sender’s behalf.
					]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "preapprovalKey":"PA-11B737485G431220H",
 "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/CancelPreapproval">
			<method id="CancelPreapproval" name="POST" apigee:displayName="CancelPreapproval">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/CancelPreapproval" />
				<doc title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/cancelpreapproval-api-operation">
                    <![CDATA[
					Use the CancelPreapproval API operation to handle the canceling of preapprovals. Preapprovals can be canceled regardless of the state they are in, such as active, expired, deactivated, and previously canceled.
					]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"},
 "preapprovalKey":"PA-11B737485G431220H"
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/ConvertCurrency">
			<method id="ConvertCurrency" name="POST" apigee:displayName="ConvertCurrency">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/ConvertCurrency" />
				<doc title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/convertcurrency-api-operation"><![CDATA[
				Use the ConvertCurrency API operation to request the current foreign exchange (FX) rate for a specific amount and currency.
				]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "baseAmountList":{ "currency" : {"code":"USD", "amount":"1.00"} },
 "convertToCurrencyList":{"currencyCode":["CAD", "USD"] },
 "requestEnvelope":{ "errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/Refund">
			<method id="Refund" name="POST" apigee:displayName="Refund">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/Refund" />
				<doc title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/refund-api-operation">
                    <![CDATA[
					Use the Refund API operation to refund all or part of a payment. You can specify the amount of the refund and identify the accounts to receive the refund by the payment key or tracking ID, and optionally, by transaction ID or the receivers of the original payment.
					]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "payKey" : "AP-9JK61721EP167721B",
 "receiverList":{"receiver" : [{ "amount":"1.0", "email" : "seller_1288085303_biz@gmail.com" }]},
 "currencyCode":"USD",
 "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/GetPaymentOptions">
			<method id="GetPaymentOptions" name="POST" apigee:displayName="GetPaymentOptions">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/GetPaymentOptions" />
				<doc title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/getpaymentoptions-api-operation"><![CDATA[
				You use the GetPaymentOptions API operation to retrieve the payment options passed with the SetPaymentOptionsRequest.
				]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "payKey":"AP-9JK61721EP167721B",
 "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/SetPaymentOptions">
			<method id="SetPaymentOptions" name="POST" apigee:displayName="SetPaymentOptions">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/SetPaymentOptions" />
				<doc title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/setpaymentoptions-api-operation"><![CDATA[
					You use the SetPaymentOptions API operation to specify settings for a payment of the actionType CREATE. 
					This actionType is specified in the PayRequest message.				]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "payKey":"AP-9JK61721EP167721B",
 "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/ExecutePayment">
			<method id="ExecutePayment" name="POST" apigee:displayName="ExecutePayment">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/ExecutePayment" />
				<doc title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/executepayment-api-operation"><![CDATA[
					The ExecutePayment API operation lets you execute a payment set up with the Pay API operation with the actionType CREATE. To pay receivers identified in the Pay call, set the pay key from the PayResponse message in the ExecutePaymentRequest message.
				]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "payKey":"AP-9JK61721EP167721B",
 "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/GetShippingAddresses">
			<method id="ExecutePayment1" name="POST" apigee:displayName="GetShippingAddresses">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/GetShippingAddresses" />
				<doc title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/getshippingaddress-api-operation"><![CDATA[
					Use the GetShippingAddresses API operation to obtain the selected shipping address. You must have created the payment or preapproval key that identifies the account holder whose shipping address you want to obtain, or be the primary receiver of the payment or one of the parallel receivers of the payment. The shipping address is available only if it was provided during the embedded payment flow.
				]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "key":"AP-9JK61721EP167721B",
 "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/GetFundingPlans">
			<method id="ExecutePayment2" name="POST" apigee:displayName="GetFundingPlans">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/GetFundingPlans" />
				<doc title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/getfundingplans-api-operation">
                    <![CDATA[ 
					Use the GetFundingPlans API operation to determine the funding sources that are available for a specified payment, identified by its key, which takes into account the preferences and country of the receiver as well as the payment amount. You must be both the sender of the payment and the caller of this API operation
					
					]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "payKey":"AP-9JK61721EP167721B",
 "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptiveAccounts/CreateAccount">
			<method id="CreateAccount" name="POST" apigee:displayName="CreateAccount">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Accounts</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptiveAccounts/CreateAccount" />
				<doc title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/createaccount-api-operation"><![CDATA[
				The CreateAccount API operation enables you to create a PayPal account on behalf of a third party.
					]]></doc>
				<request>
					<param name="X-PAYPAL-SANDBOX-EMAIL-ADDRESS" type="string" style="header" required="true" default="abc@test.com"/>
					<representation>
						<apigee:payload><![CDATA[
{
"accountType" : "PERSONAL",
"emailAddress" : "testing-2039039@paypal.com",
"name" : {"firstName" : "John" , "lastName" : "Smith" },
"dateOfBirth" : "1968-01-01Z",
"address" : {"line1": "1968 Ape Way","line2" : "Apt 123","city" : "Austin", "state" : "TX" ,"postalCode" : "78750" , "countryCode" : "US" } ,
"contactPhoneNumber" : "888-555-1212",
"currencyCode" :  "USD",
"citizenshipCountryCode" : "US",
"preferredLanguageCode" : "en_US",
"notificationURL" : "http://www.test.com",
"registrationType" : "WEB",
"createAccountWebOptions" : { "returnUrl" : "http://www.myhome.com" },
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptiveAccounts/AddBankAccount">
			<method id="AddBankAccount" name="POST" apigee:displayName="AddBankAccount">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Accounts</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptiveAccounts/AddBankAccount" />
				<doc title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/addbankaccount-api-operation"><![CDATA[
				The AddBankAccount API operation lets your application set up bank accounts as funding sources for PayPal accounts.
]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
"createAccountKey" : "XXX",
"emailAddress" : "abc@test.com" ,
"routingNumber" : "12345678" ,
"bankAccountType" : "CHECKING",
"bankName": "Bank Of America",
"bankCountryCode" : "US",
"bankAccountNumber" : "123456789",
"confirmationType" : "NONE",
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}						
]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptiveAccounts/AddPaymentCard">
			<method id="AddPaymentCard" name="POST" apigee:displayName="AddPaymentCard">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Accounts</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptiveAccounts/AddPaymentCard" />
				<doc title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/addpaymentcard-api-operation"><![CDATA[
				The AddPaymentCard API operation lets your application set up credit cards as funding sources for PayPal accounts.
					]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
"cardNumber" : "4577644256134768",
"cardType" : "Visa",
"cardVerificationNumber" : "123",
"confirmationType" : "NONE",
"createAccountKey" : "XXX",
"emailAddress" : "testing3@mypaypal.com",
"expirationDate" : {"month" : "05" , "year" : "2012"},
"billingAddress" : {"line1": "1968 Ape Way","line2" : "Apt 123","city" : "Austin","state" : "TX" ,"postalCode" : "78750" , "countryCode" : "US" } ,
"nameOnCard" : {"firstName" : "John" , "lastName" : "Smith" },
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}						
]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptiveAccounts/SetFundingSourceConfirmed">
			<method id="SetFundingSourceConfirmed" name="POST"
				apigee:displayName="SetFundingSourceConfirmed">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Accounts</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptiveAccounts/SetFundingSourceConfirmed" />
				<doc title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/setfundingsourceconfirmed-api-operation"><![CDATA[
				The SetFundingSourceConfirmed API operation lets your application set up bank accounts as funding sources for PayPal accounts.
]]></doc>
				<request>					
					<representation>
						<apigee:payload><![CDATA[
{
"emailAddress" : "abc@test.com",
"fundingSourceKey" : "XYZ",
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}						
]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptiveAccounts/GetVerifiedStatus">
			<method id="GetVerifiedStatus" name="POST" apigee:displayName="GetVerifiedStatus">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Accounts</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptiveAccounts/GetVerifiedStatus" />
				<doc title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/getverifiedstatus-api-operation"><![CDATA[
				The GetVerifiedStatus API operation lets you check if a PayPal account status is verified. A PayPal account gains verified status under a variety of circumstances, such as when an account is linked to a verified funding source. Verified status serves to indicate a trust relationship. For more information about account verified status, refer to PayPal.com.
]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
"matchCriteria" : "name",
"emailAddress" : "abc@test.com",
"firstName" : "XYZ",
"lastName" : "XYZ",
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
} 
]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptiveAccounts/GetUserAgreement">
			<method id="GetUserAgreement" name="POST" apigee:displayName="GetUserAgreement">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Accounts</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptiveAccounts/GetUserAgreement" />
				<doc title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/getuseragreement-api-operation"><![CDATA[
				The GetUserAgreement API operation lets you retrieve the user agreement for the customer to approve the new PayPal account.
]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
"languageCode" : "en_US",
"countryCode" : "US",
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}						
]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>
		
		
		
		<resource path="/Invoice/CreateInvoice">
            <method id="CreateInvoice" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Invoicing Service</apigee:tag>
                    <apigee:tag>Create Invoice</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <apigee:example url="/Invoice/CreateInvoice"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/createinvoice-api-operation"><![CDATA[
					 Use the CreateInvoice API operation to create a new invoice. The call includes merchant, payer, and API caller information, in addition to invoice detail. The response to the call contains an invoice ID and URL.
				]]></doc>
                <request xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <representation>
                        <apigee:payload><![CDATA[

{
  "invoice" : 
  {
    "payerEmail" : "inv_1324315342_per@x.com",
    "merchantEmail" : "apigee_1288087399_biz@gmail.com",
    "currencyCode" : "USD",
    "paymentTerms" : "Net30",
    "itemList":
	{
	  "item" : 
	  [
		{
		  "name":"Web Design",
		  "description":"100 hours work", 
		  "quantity" : "4", 
		  "unitPrice" : "50",
		  "taxName" : "Tax1",
		  "taxRate" : "8.25"
		}
      ]
    }
  },
  
  "requestEnvelope" : 
  {
	"errorLanguage":"en_US"
  }
}

                 ]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>
		
		
		<resource path="/Invoice/SendInvoice">
            <!--
                   <param name="format" type="xsd:string" style="template"
                   required="false" default="json"> <option value="json"
                   mediaType="application/json"/> </param>
               -->
            <method id="SendInvoice" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Invoicing Service</apigee:tag>
                    <apigee:tag>Send Invoice</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <apigee:example url="/Invoice/SendInvoice"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/sendinvoice-api-operation"><![CDATA[
					 Use the SendInvoice API operation to send an invoice to a payer, and notify the payer of the pending invoice.
				]]></doc>
                <request xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <representation>
                        <apigee:payload><![CDATA[

{
  "invoiceID" : "INV2-5H8F-GSGR-Q2WC-NL7J",
  "requestEnvelope" : {"errorLanguage":"en_US"}
}

                 ]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>



 		<resource path="/Invoice/CreateAndSendInvoice">
      
            <method id="CreateAndSendInvoice" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Invoicing Service</apigee:tag>
                    <apigee:tag>Create and Send Invoice</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <apigee:example url="/Invoice/CreateAndSendInvoice"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/createandsendinvoice-api-operation"><![CDATA[
					 Use the CreateAndSendInvoice API operation to create and send an invoice.
				]]></doc>
                <request xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <representation>
                        <apigee:payload><![CDATA[

{
  "invoice" : 
  {
    "payerEmail" : "inv_1324315342_per@x.com",
    "merchantEmail" : "apigee_1288087399_biz@gmail.com",
    "currencyCode" : "USD",
    "paymentTerms" : "Net30",
    "itemList":
	{ 
	  "item" : 
	  [
	    {
	      "name":"Web Design",
		  "description":"100 hours work",
		  "quantity" : "4",
		  "unitPrice" : "50",
		  "taxName" : "Tax1",
		  "taxRate" : "8.25"
        }
      ]
    }
  },
  
  "requestEnvelope" : {"errorLanguage":"en_US"}
}

                 ]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>
		
		
		<resource path="/Invoice/UpdateInvoice">
   
            <method id="UpdateInvoice" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Invoicing Service</apigee:tag>
                    <apigee:tag>Update Invoice</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <apigee:example url="/Invoice/UpdateInvoice"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/updateinvoice-api-operation"><![CDATA[
					 Use the UpdateInvoice API operation to update an invoice.
				]]></doc>
                <request xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <representation>
                        <apigee:payload><![CDATA[

{
  "invoiceID" : "INV2-W579-N87Q-KRL6-NEUA",
  "invoice" : 
  {
    "payerEmail" : "inv_1324315342_per@x.com",
    "merchantEmail" : "apigee_1288087399_biz@gmail.com",
    "currencyCode" : "USD",
    "paymentTerms" : "Net15",
    "itemList":
	{ 
	  "item" : 
	  [
	    {
	      "name":"Android Programming",
		  "description":"4 hours work",
		  "quantity" : "4",
		  "unitPrice" : "100",
		  "taxName" : "Tax1",
		  "taxRate" : "8.25"
        }
      ]
    }
  },
  
  "requestEnvelope" : {"errorLanguage":"en_US"}
}

                 ]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>
		
		
		<resource path="/Invoice/GetInvoiceDetails">
       
            <method id="GetInvoiceDetails" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Invoicing Service</apigee:tag>
                    <apigee:tag>Get Invoice Details</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <apigee:example url="/Invoice/GetInvoiceDetails"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/getinvoicedetails-api-operation"><![CDATA[
					 Use the GetInvoiceDetails API operation to get detailed information about an invoice.
				]]></doc>
                <request xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <representation>
                        <apigee:payload><![CDATA[

{
  "invoiceID" : "INV2-BRMC-3E35-NBDX-CMQN",
  "requestEnvelope" : 
  {
    "errorLanguage":"en_US",
    "detailLevel" : "returnAll"
  }
}

                 ]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>
		
		<resource path="/Invoice/CancelInvoice">
    
            <method id="CancelInvoice" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Invoicing Service</apigee:tag>
                    <apigee:tag>Cancel Invoice</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <apigee:example url="/Invoice/CancelInvoice"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/cancelinvoice-api-operation"><![CDATA[
					Use the CancelInvoice API operation to cancel an invoice.
				]]></doc>
                <request xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <representation>
                        <apigee:payload><![CDATA[

{
  "invoiceID" : "INV2-Y3CL-68DX-9ESD-DDAR",
  "subject" : "cancel invoice",
  "noteForPayer" : "Please do not pay invoice",
  "sendCopyToMerchant" : "true",
  "requestEnvelope" : 
    {
      "errorLanguage":"en_US",
      "detailLevel" : "returnAll" 
    }
}

                 ]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>
		
			<resource path="/Invoice/MarkInvoiceAsPaid">
         
            <method id="MarkInvoiceAsPaid" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Invoicing Service</apigee:tag>
                    <apigee:tag>Mark Invoice As Paid</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <apigee:example url="/Invoice/MarkInvoiceAsPaid"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/markinvoiceaspaid-api-operation"><![CDATA[
					 Use the MarkInvoiceAsPaid API operation to mark an invoice as paid.
				]]></doc>
                <request xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <representation>
                        <apigee:payload><![CDATA[

{
  "invoiceID" : "INV2-AHA4-64YX-4HCJ-WALQ",
  "payment" : 
  {
      "method":"PayPal",
      "note" : "It's been paid",
      "date" : "2011-12-19T10:23:34.966-08:00"
  },
  
  "requestEnvelope" : 
  {
      "errorLanguage":"en_US",
      "detailLevel" : "returnAll" 
  }
}

                 ]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>
		
		
		<resource path="/Invoice/SearchInvoices">
        
            <method id="SearchInvoices" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Invoicing Service</apigee:tag>
                    <apigee:tag>Search Invoices</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <apigee:example url="/Invoice/SearchInvoices"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/searchinvoices-api-operation"><![CDATA[
					 Use the SearchInvoice API operation to search an invoice.
				]]></doc>
                <request xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <representation>
                        <apigee:payload><![CDATA[
						
{
  "merchantEmail" : "apigee_1288087399_biz@gmail.com",
  "parameters" : 
  {
	"origin" : "API",
	"email" : "inv_1324315342_per@x.com" 
  },
  
  "page" : "1",
  "pageSize" : "10",
  "requestEnvelope" : 
  {
     "errorLanguage":"en_US"
  }
}

                 ]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>
		
		
		
		
		 <resource path="/Permissions/RequestPermissions">
			<method id="RequestPermissions" name="POST" apigee:displayName="RequestPermissions">
				<apigee:tags>
					<apigee:tag primary="true">Permissions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/Permissions/RequestPermissions" />
		
                <doc title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/requestpermissions-api-operation"><![CDATA[
				Use the RequestPermissions API operation to request permissions to execute API operations on a PayPal account holder’s behalf.
				]]></doc>
                <request >
                    <representation>
                        <apigee:payload><![CDATA[
{
"scope" : "EXPRESS_CHECKOUT",
"callback" : "http://apigee.com/console/-1/handlePaypalReturn",
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>
        
		
       	<resource path="/Permissions/GetAccessToken">
			<method id="GetAccessToken" name="POST" apigee:displayName="GetAccessToken">
				<apigee:tags>
					<apigee:tag primary="true">Permissions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/Permissions/GetAccessToken" />
		
			
                <doc  title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/getaccesstoken-api-operation"><![CDATA[
				Use the GetAccessToken API operation to obtain an access token for a set of permissions.
					]]></doc>
                <request>
                    <representation>
                        <apigee:payload><![CDATA[
{
"token" : "AAAAAAAVLxrS3ieesPab",
"verifier" : "fUhgBNPzSByW9W6nOyqIgQ",
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>   
	   
	   
   		<resource path="/Permissions/GetPermissions">
			<method id="GetPermissions" name="POST" apigee:displayName="GetPermissions">
				<apigee:tags>
					<apigee:tag primary="true">Permissions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/Permissions/GetPermissions" />
		
			
                <doc  title="" apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/getpermissions-api-operation"><![CDATA[
				Use the GetPermissons API operation to obtain the permissions associated with an access token.
					]]></doc>
                <request>
                    <representation>
                        <apigee:payload><![CDATA[
{
"token" : "ycqryLnQOwtPKFwsxkH29I53dLeeX1PdNV6I0hpwrcGk8FeG-zjkbg",
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>        
		
		
		<resource path="/Permissions/CancelPermissions">
			<method id="CancelPermissions" name="POST" apigee:displayName="CancelPermissions">
				<apigee:tags>
					<apigee:tag primary="true">Permissions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/Permissions/CancelPermissions" />
		
		
                <doc title=""  apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/cancelpermissions-api-operation"><![CDATA[
				Use the CancelPermissions API operation to cancel access to a set of permissions.
					]]></doc>
                <request>
                    <representation>
                        <apigee:payload><![CDATA[
{
"token" : "CzPgOILULytPKEpfxkH29I53dLM0-Tl2oF-CEXISVtxFV51QXx31zA",
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>    
		
		
		
		<resource path="/Permissions/GetBasicPersonalData">
			<method id="GetBasicPersonalData" name="POST" apigee:displayName="GetBasicPersonalData">
				<apigee:tags>
					<apigee:tag primary="true">Permissions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/Permissions/GetBasicPersonalData" />
		
		
                <doc title=""  apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/getbasicpersonaldata-api-operation"><![CDATA[
				Use the GetBasicPersonalData API operation to obtain basic personal data for an account holder.
					]]></doc>
                <request>
                    <representation>
                        <apigee:payload><![CDATA[
{
"attributeList" : [{"attribute""http://axschema.org/contact/email"}],
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>   
		
		
			<resource path="/Permissions/GetAdvancedPersonalData">
			<method id="GetAdvancedPersonalData" name="POST" apigee:displayName="GetAdvancedPersonalData">
				<apigee:tags>
					<apigee:tag primary="true">Permissions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/Permissions/GetAdvancedPersonalData" />
		
		
                <doc title=""  apigee:url="https://www.x.com/developers/paypal/documentation-tools/api/getadvancedpersonaldata-api-operation"><![CDATA[
				Use the GetAdvancedPersonalData API operation to obtain sensitive personal data for an account holder.
					]]></doc>
                <request>
                    <representation>
                        <apigee:payload><![CDATA[
{
"attributeList" : [{"attribute""http://axschema.org/birthDate", "attribute""http://axschema.org/contact/postalCode/home"}],
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>      
		
		

	</resources>

</application>
