paypal/paypal-wadl.xml

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
	xmlns="http://wadl.dev.java.net/2009/02"
	xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

	<resources base="https://svcs.sandbox.paypal.com">
	
		<resource path="/AdaptivePayments/Pay">
			<!-- <param name="format" type="xsd:string" style="template" required="false" 
				default="json"> <option value="json" mediaType="application/json"/> </param> -->
			<method id="Pay" name="POST" apigee:displayName="Pay">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/Pay" />
				<doc title="" apigee:url="https://www.x.com/docs/DOC-1414"><![CDATA[Transfers funds from a sender's PayPal account to one or more
					receivers' PayPal accounts (up to 6 receivers). More documentation at https://www.x.com/docs/DOC-1414
				]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
  "actionType":"PAY",
  "currencyCode":"USD",
  "receiverList":{"receiver":[{"amount":"1.00","email":"seller_1288085303_biz@gmail.com"}]},
  "returnUrl":"http://apigee.com/console/-1/handlePaypalReturn",
  "cancelUrl":"http://apigee.com/console/-1/handlePaypalCancel?",
  "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
                 ]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/PaymentDetails">
			<method id="PaymentDetails" name="POST" apigee:displayName="PaymentDetails">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/PaymentDetails" />
				<doc title="" apigee:url="https://www.x.com/docs/DOC-1416"><![CDATA[
					Obtains information about a payment. More documentation at https://www.x.com/docs/DOC-1416
				]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "payKey":"AP-9JK61721EP167721B",
 "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/Preapproval">
			<method id="Preapproval" name="POST" apigee:displayName="Preapproval">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/Preapproval" />
				<doc title="" apigee:url="https://www.x.com/docs/DOC-1419"><![CDATA[Sets up preapprovals, which is an approval to make payments
					on the senders behalf. More documentation at https://www.x.com/docs/DOC-1419
				]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "senderEmail":"buyer_1288085239_per@gmail.com",
 "startingDate":"2013-01-21",
 "endingDate":"2013-10-21",
 "maxAmountPerPayment":"1.00",
 "maxNumberOfPayments":"10",
 "maxTotalAmountOfAllPayments":"50.00",
 "currencyCode":"USD",
 "dayOfWeek":"SUNDAY",
 "paymentPeriod":"WEEKLY",
 "memo":"Setting the preapproval for this month",
 "pinType":"NOT_REQUIRED",
 "returnUrl":"http://app.apigee.com/handle_paypal_return.html",
 "cancelUrl":"http://app.apigee.com/handle_paypal_cancel.html",
 "ipnNotificationUrl":"http://app.apigee.com/handle_paypal_ipn.html",
 "clientDetails":{ "ipAddress" : "127.0.0.1",
                     "deviceId" : "platformSDKSample",
                     "applicationId" : "APP-80W284485P519543T"
						 },
 "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/PreapprovalDetails">
			<method id="PreapprovalDetails" name="POST"
				apigee:displayName="PreapprovalDetails">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/PreapprovalDetails" />
				<doc title="" apigee:url="https://www.x.com/docs/DOC-1421">
                    <![CDATA[Obtains information about a preapproval.More documentation at https://www.x.com/docs/DOC-1421]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "preapprovalKey":"PA-11B737485G431220H",
 "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/CancelPreapproval">
			<method id="CancelPreapproval" name="POST" apigee:displayName="CancelPreapproval">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/CancelPreapproval" />
				<doc title="" apigee:url="https://www.x.com/docs/DOC-1396">
                    <![CDATA[Cancels a preapproval. More documentation at https://www.x.com/docs/DOC-1396]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"},
 "preapprovalKey":"PA-11B737485G431220H"
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/ConvertCurrency">
			<method id="ConvertCurrency" name="POST" apigee:displayName="ConvertCurrency">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/ConvertCurrency" />
				<doc title="" apigee:url="https://www.x.com/docs/DOC-1401"><![CDATA[Obtains Foreign Exchange currency conversion rates for a list
					of amounts. More documentation at https://www.x.com/docs/DOC-1401
				]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "baseAmountList":{ "currency" : {"code":"USD", "amount":"1.00"} },
 "convertToCurrencyList":{"currencyCode":["CAD", "USD"] },
 "requestEnvelope":{ "errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/Refund">
			<method id="Refund" name="POST" apigee:displayName="Refund">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/Refund" />
				<doc title="" apigee:url="https://www.x.com/docs/DOC-1426">
                    <![CDATA[Refunds all or part of a payment.More documentation at https://www.x.com/docs/DOC-1426]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "payKey" : "AP-9JK61721EP167721B",
 "receiverList":{"receiver" : [{ "amount":"1.0", "email" : "seller_1288085303_biz@gmail.com" }]},
 "currencyCode":"USD",
 "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/GetPaymentOptions">
			<method id="GetPaymentOptions" name="POST" apigee:displayName="GetPaymentOptions">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/GetPaymentOptions" />
				<doc title="" apigee:url="https://www.x.com/docs/DOC-1426"><![CDATA[Obtains information about a payment]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "payKey":"AP-9JK61721EP167721B",
 "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/SetPaymentOptions">
			<method id="SetPaymentOptions" name="POST" apigee:displayName="SetPaymentOptions">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/SetPaymentOptions" />
				<doc title="" apigee:url="https://www.x.com/docs/DOC-1426"><![CDATA[
					Sets information about a payment.
					Make a Pay request with "actionType":"CREATE" , use the response "payKey" here.
				]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "payKey":"AP-9JK61721EP167721B",
 "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/ExecutePayment">
			<method id="ExecutePayment" name="POST" apigee:displayName="ExecutePayment">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/ExecutePayment" />
				<doc title="" apigee:url="https://www.x.com/docs/DOC-1426"><![CDATA[
					The request to execute the payment request.
					Make a Pay request with "actionType":"CREATE" , use the response "payKey" here.
				]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "payKey":"AP-9JK61721EP167721B",
 "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/GetShippingAddresses">
			<method id="ExecutePayment1" name="POST" apigee:displayName="GetShippingAddresses">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/GetShippingAddresses" />
				<doc title="" apigee:url="https://www.x.com/docs/DOC-1426"><![CDATA[
					The key for which to provide the available addresses. Key can be an AdaptivePayments key such as payKey or preapprovalKey.
				]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "key":"AP-9JK61721EP167721B",
 "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptivePayments/GetFundingPlans">
			<method id="ExecutePayment2" name="POST" apigee:displayName="GetFundingPlans">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Payments</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptivePayments/GetFundingPlans" />
				<doc title="" apigee:url="https://www.x.com/docs/DOC-1426">
                    <![CDATA[The request to get the funding plans available for a payment.]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
 "payKey":"AP-9JK61721EP167721B",
 "requestEnvelope":{"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
				]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptiveAccounts/CreateAccount">
			<method id="CreateAccount" name="POST" apigee:displayName="CreateAccount">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Accounts</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptiveAccounts/CreateAccount" />
				<doc title="" apigee:url="https://www.x.com/docs/DOC-1414"><![CDATA[Creates PayPal accounts
]]></doc>
				<request>
					<param name="X-PAYPAL-SANDBOX-EMAIL-ADDRESS" type="string" style="header" required="true" default="abc@test.com"/>
					<representation>
						<apigee:payload><![CDATA[
{
"accountType" : "PERSONAL",
"emailAddress" : "testing-2039039@paypal.com",
"name" : {"firstName" : "John" , "lastName" : "Smith" },
"dateOfBirth" : "1968-01-01Z",
"address" : {"line1": "1968 Ape Way","line2" : "Apt 123","city" : "Austin", "state" : "TX" ,"postalCode" : "78750" , "countryCode" : "US" } ,
"contactPhoneNumber" : "888-555-1212",
"currencyCode" :  "USD",
"citizenshipCountryCode" : "US",
"preferredLanguageCode" : "en_US",
"notificationURL" : "http://www.test.com",
"registrationType" : "WEB",
"createAccountWebOptions" : { "returnUrl" : "http://www.myhome.com" },
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptiveAccounts/AddBankAccount">
			<method id="AddBankAccount" name="POST" apigee:displayName="AddBankAccount">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Accounts</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptiveAccounts/AddBankAccount" />
				<doc title="" apigee:url="https://www.x.com/docs/DOC-1414"><![CDATA[Link bank accounts to PayPal accounts as funding sources
]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
"createAccountKey" : "XXX",
"emailAddress" : "abc@test.com" ,
"routingNumber" : "12345678" ,
"bankAccountType" : "CHECKING",
"bankName": "Bank Of America",
"bankCountryCode" : "US",
"bankAccountNumber" : "123456789",
"confirmationType" : "NONE",
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}						
]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptiveAccounts/AddPaymentCard">
			<method id="AddPaymentCard" name="POST" apigee:displayName="AddPaymentCard">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Accounts</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptiveAccounts/AddPaymentCard" />
				<doc title="" apigee:url="https://www.x.com/docs/DOC-1414"><![CDATA[The AddPaymentCard method lets your application set up credit cards as funding sources for
PayPal accounts.]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
"cardNumber" : "4577644256134768",
"cardType" : "Visa",
"cardVerificationNumber" : "123",
"confirmationType" : "NONE",
"createAccountKey" : "XXX",
"emailAddress" : "testing3@mypaypal.com",
"expirationDate" : {"month" : "05" , "year" : "2012"},
"billingAddress" : {"line1": "1968 Ape Way","line2" : "Apt 123","city" : "Austin","state" : "TX" ,"postalCode" : "78750" , "countryCode" : "US" } ,
"nameOnCard" : {"firstName" : "John" , "lastName" : "Smith" },
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}						
]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptiveAccounts/SetFundingSourceConfirmed">
			<method id="SetFundingSourceConfirmed" name="POST"
				apigee:displayName="SetFundingSourceConfirmed">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Accounts</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptiveAccounts/SetFundingSourceConfirmed" />
				<doc title="" apigee:url="https://www.x.com/docs/DOC-1414"><![CDATA[The SetFundingSourceConfirmed method lets your application set up bank accounts as
funding sources for PayPal accounts.
]]></doc>
				<request>					
					<representation>
						<apigee:payload><![CDATA[
{
"emailAddress" : "abc@test.com",
"fundingSourceKey" : "XYZ",
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}						
]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptiveAccounts/GetVerifiedStatus">
			<method id="GetVerifiedStatus" name="POST" apigee:displayName="GetVerifiedStatus">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Accounts</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptiveAccounts/GetVerifiedStatus" />
				<doc title="" apigee:url="https://www.x.com/docs/DOC-1414"><![CDATA[The GetVerifiedStatus request allows you to verify that a customer is indeed the holder of the PayPal account information that was supplied.
]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
"matchCriteria" : "name",
"emailAddress" : "abc@test.com",
"firstName" : "XYZ",
"lastName" : "XYZ",
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
} 
]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="/AdaptiveAccounts/GetUserAgreement">
			<method id="GetUserAgreement" name="POST" apigee:displayName="GetUserAgreement">
				<apigee:tags>
					<apigee:tag primary="true">Adaptive Accounts</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/AdaptiveAccounts/GetUserAgreement" />
				<doc title="" apigee:url="https://www.x.com/docs/DOC-1414"><![CDATA[The GetUserAgreement method lets you retrieve the user agreement for the customer to
approve the new PayPal account.
]]></doc>
				<request>
					<representation>
						<apigee:payload><![CDATA[
{
"languageCode" : "en_US",
"countryCode" : "US",
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}						
]]></apigee:payload>
					</representation>
				</request>
			</method>
		</resource>
		
		
		
		<resource path="CreateInvoice">
            <!--
                   <param name="format" type="xsd:string" style="template"
                   required="false" default="json"> <option value="json"
                   mediaType="application/json"/> </param>
               -->
            <method id="CreateInvoice" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Invoicing Service</apigee:tag>
                    <apigee:tag>Create Invoice</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/Invoice/CreateInvoice"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://www.x.com/docs/DOC-1414"><![CDATA[Creates Invoices at PayPal for sending
				]]></doc>
                <request xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <representation>
                        <apigee:payload><![CDATA[

{
  "invoice" : 
  {
    "payerEmail" : "inv_1324315342_per@x.com",
    "merchantEmail" : "apigee_1288087399_biz@gmail.com",
    "currencyCode" : "USD",
    "paymentTerms" : "Net30",
    "itemList":
	{
	  "item" : 
	  [
		{
		  "name":"Web Design",
		  "description":"100 hours work", 
		  "quantity" : "4", 
		  "unitPrice" : "50",
		  "taxName" : "Tax1",
		  "taxRate" : "8.25"
		}
      ]
    }
  },
  
  "requestEnvelope" : 
  {
	"errorLanguage":"en_US"
  }
}

                 ]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>
		
		
		<resource path="SendInvoice">
            <!--
                   <param name="format" type="xsd:string" style="template"
                   required="false" default="json"> <option value="json"
                   mediaType="application/json"/> </param>
               -->
            <method id="SendInvoice" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Invoicing Service</apigee:tag>
                    <apigee:tag>Send Invoice</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/Invoice/SendInvoice"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://www.x.com/docs/DOC-1414"><![CDATA[Creates Invoices at PayPal for sending
				]]></doc>
                <request xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <representation>
                        <apigee:payload><![CDATA[

{
  "invoiceID" : "INV2-5H8F-GSGR-Q2WC-NL7J",
  "requestEnvelope" : {"errorLanguage":"en_US"}
}

                 ]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>



 		<resource path="CreateAndSendInvoice">
            <!--
                   <param name="format" type="xsd:string" style="template"
                   required="false" default="json"> <option value="json"
                   mediaType="application/json"/> </param>
               -->
            <method id="CreateAndSendInvoice" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Invoicing Service</apigee:tag>
                    <apigee:tag>Create and Send Invoice</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/Invoice/CreateAndSendInvoice"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://www.x.com/docs/DOC-1414"><![CDATA[Creates Invoices at PayPal for sending
				]]></doc>
                <request xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <representation>
                        <apigee:payload><![CDATA[

{
  "invoice" : 
  {
    "payerEmail" : "inv_1324315342_per@x.com",
    "merchantEmail" : "apigee_1288087399_biz@gmail.com",
    "currencyCode" : "USD",
    "paymentTerms" : "Net30",
    "itemList":
	{ 
	  "item" : 
	  [
	    {
	      "name":"Web Design",
		  "description":"100 hours work",
		  "quantity" : "4",
		  "unitPrice" : "50",
		  "taxName" : "Tax1",
		  "taxRate" : "8.25"
        }
      ]
    }
  },
  
  "requestEnvelope" : {"errorLanguage":"en_US"}
}

                 ]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>
		
		
		<resource path="UpdateInvoice">
            <!--
                   <param name="format" type="xsd:string" style="template"
                   required="false" default="json"> <option value="json"
                   mediaType="application/json"/> </param>
               -->
            <method id="UpdateInvoice" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Invoicing Service</apigee:tag>
                    <apigee:tag>Update Invoice</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/Invoice/UpdateInvoice"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://www.x.com/docs/DOC-1414"><![CDATA[Creates Invoices at PayPal for sending
				]]></doc>
                <request xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <representation>
                        <apigee:payload><![CDATA[

{
  "invoiceID" : "INV2-W579-N87Q-KRL6-NEUA",
  "invoice" : 
  {
    "payerEmail" : "inv_1324315342_per@x.com",
    "merchantEmail" : "apigee_1288087399_biz@gmail.com",
    "currencyCode" : "USD",
    "paymentTerms" : "Net15",
    "itemList":
	{ 
	  "item" : 
	  [
	    {
	      "name":"Android Programming",
		  "description":"4 hours work",
		  "quantity" : "4",
		  "unitPrice" : "100",
		  "taxName" : "Tax1",
		  "taxRate" : "8.25"
        }
      ]
    }
  },
  
  "requestEnvelope" : {"errorLanguage":"en_US"}
}

                 ]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>
		
		
		<resource path="GetInvoiceDetails">
            <!--
                   <param name="format" type="xsd:string" style="template"
                   required="false" default="json"> <option value="json"
                   mediaType="application/json"/> </param>
               -->
            <method id="GetInvoiceDetails" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Invoicing Service</apigee:tag>
                    <apigee:tag>Get Invoice Details</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/Invoice/GetInvoiceDetails"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://www.x.com/docs/DOC-1414"><![CDATA[Creates Invoices at PayPal for sending
				]]></doc>
                <request xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <representation>
                        <apigee:payload><![CDATA[

{
  "invoiceID" : "INV2-BRMC-3E35-NBDX-CMQN",
  "requestEnvelope" : 
  {
    "errorLanguage":"en_US",
    "detailLevel" : "returnAll"
  }
}

                 ]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>
		
		<resource path="CancelInvoice">
            <!--
                   <param name="format" type="xsd:string" style="template"
                   required="false" default="json"> <option value="json"
                   mediaType="application/json"/> </param>
               -->
            <method id="CancelInvoice" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Invoicing Service</apigee:tag>
                    <apigee:tag>Cancel Invoice</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/Invoice/CancelInvoice"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://www.x.com/docs/DOC-1414"><![CDATA[Creates Invoices at PayPal for sending
				]]></doc>
                <request xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <representation>
                        <apigee:payload><![CDATA[

{
  "invoiceID" : "INV2-Y3CL-68DX-9ESD-DDAR",
  "subject" : "cancel invoice",
  "noteForPayer" : "Please do not pay invoice",
  "sendCopyToMerchant" : "true",
  "requestEnvelope" : 
    {
      "errorLanguage":"en_US",
      "detailLevel" : "returnAll" 
    }
}

                 ]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>
		
			<resource path="MarkInvoiceAsPaid">
            <!--
                   <param name="format" type="xsd:string" style="template"
                   required="false" default="json"> <option value="json"
                   mediaType="application/json"/> </param>
               -->
            <method id="MarkInvoiceAsPaid" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Invoicing Service</apigee:tag>
                    <apigee:tag>Mark Invoice As Paid</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/Invoice/MarkInvoiceAsPaid"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://www.x.com/docs/DOC-1414"><![CDATA[Creates Invoices at PayPal for sending
				]]></doc>
                <request xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <representation>
                        <apigee:payload><![CDATA[

{
  "invoiceID" : "INV2-AHA4-64YX-4HCJ-WALQ",
  "payment" : 
  {
      "method":"PayPal",
      "note" : "It's been paid",
      "date" : "2011-12-19T10:23:34.966-08:00"
  },
  
  "requestEnvelope" : 
  {
      "errorLanguage":"en_US",
      "detailLevel" : "returnAll" 
  }
}

                 ]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>
		
		
		<resource path="SearchInvoices">
            <!--
                   <param name="format" type="xsd:string" style="template"
                   required="false" default="json"> <option value="json"
                   mediaType="application/json"/> </param>
               -->
            <method id="SearchInvoices" name="POST">
                <apigee:tags xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <apigee:tag primary="true">Invoicing Service</apigee:tag>
                    <apigee:tag>Search Invoices</apigee:tag>
                </apigee:tags>
                <apigee:authentication xmlns:apigee="http://api.apigee.com/wadl/2010/07/" required="true"/>
                <apigee:example xmlns:apigee="http://api.apigee.com/wadl/2010/07/" url="/Invoice/SearchInvoices"/>
                <doc xmlns:apigee="http://api.apigee.com/wadl/2010/07/" title=""
                     apigee:url="https://www.x.com/docs/DOC-1414"><![CDATA[Creates Invoices at PayPal for sending
				]]></doc>
                <request xmlns:apigee="http://api.apigee.com/wadl/2010/07/">
                    <representation>
                        <apigee:payload><![CDATA[
						
{
  "merchantEmail" : "apigee_1288087399_biz@gmail.com",
  "parameters" : 
  {
	"origin" : "API",
	"email" : "inv_1324315342_per@x.com" 
  },
  
  "page" : "1",
  "pageSize" : "10",
  "requestEnvelope" : 
  {
     "errorLanguage":"en_US"
  }
}

                 ]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>
		
		
		
		
		 <resource path="/Permissions/RequestPermissions">
			<method id="RequestPermissions" name="POST" apigee:displayName="RequestPermissions">
				<apigee:tags>
					<apigee:tag primary="true">Permissions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/Permissions/RequestPermissions" />
		
                <doc title="" apigee:url="https://www.x.com/developers/paypal/products/permissions"><![CDATA[Request Permissions
				]]></doc>
                <request >
                    <representation>
                        <apigee:payload><![CDATA[
{
"scope" : "EXPRESS_CHECKOUT",
"callback" : "http://apigee.com/console/-1/handlePaypalReturn",
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>
        
		
       	<resource path="/Permissions/GetAccessToken">
			<method id="GetAccessToken" name="POST" apigee:displayName="GetAccessToken">
				<apigee:tags>
					<apigee:tag primary="true">Permissions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/Permissions/GetAccessToken" />
		
			
                <doc  title="" apigee:url="https://www.x.com/developers/paypal/products/permissions"><![CDATA[Get Access token
					]]></doc>
                <request>
                    <representation>
                        <apigee:payload><![CDATA[
{
"token" : "AAAAAAAVLxrS3ieesPab",
"verifier" : "fUhgBNPzSByW9W6nOyqIgQ",
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>   
	   
	   
   		<resource path="/Permissions/GetPermissions">
			<method id="GetPermissions" name="POST" apigee:displayName="GetPermissions">
				<apigee:tags>
					<apigee:tag primary="true">Permissions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/Permissions/GetPermissions" />
		
			
                <doc  title="" apigee:url="https://www.x.com/developers/paypal/products/permissions"><![CDATA[Get Access token
					]]></doc>
                <request>
                    <representation>
                        <apigee:payload><![CDATA[
{
"token" : "ycqryLnQOwtPKFwsxkH29I53dLeeX1PdNV6I0hpwrcGk8FeG-zjkbg",
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>        
		
		
		<resource path="/Permissions/CancelPermissions">
			<method id="CancelPermissions" name="POST" apigee:displayName="CancelPermissions">
				<apigee:tags>
					<apigee:tag primary="true">Permissions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/Permissions/CancelPermissions" />
		
		
                <doc title=""  apigee:url="https://www.x.com/developers/paypal/products/permissions"><![CDATA[Cancel Permissions
					]]></doc>
                <request>
                    <representation>
                        <apigee:payload><![CDATA[
{
"token" : "CzPgOILULytPKEpfxkH29I53dLM0-Tl2oF-CEXISVtxFV51QXx31zA",
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>    
		
		
		
		<resource path="/Permissions/GetBasicPersonalData">
			<method id="GetBasicPersonalData" name="POST" apigee:displayName="GetBasicPersonalData">
				<apigee:tags>
					<apigee:tag primary="true">Permissions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/Permissions/GetBasicPersonalData" />
		
		
                <doc title=""  apigee:url="https://www.x.com/developers/paypal/products/permissions"><![CDATA[Cancel Permissions
					]]></doc>
                <request>
                    <representation>
                        <apigee:payload><![CDATA[
{
"attributeList" : [{"attribute""http://axschema.org/contact/email"}],
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>   
		
		
			<resource path="/Permissions/GetAdvancedPersonalData">
			<method id="GetAdvancedPersonalData" name="POST" apigee:displayName="GetAdvancedPersonalData">
				<apigee:tags>
					<apigee:tag primary="true">Permissions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<apigee:example url="/Permissions/GetAdvancedPersonalData" />
		
		
                <doc title=""  apigee:url="https://www.x.com/developers/paypal/products/permissions"><![CDATA[Cancel Permissions
					]]></doc>
                <request>
                    <representation>
                        <apigee:payload><![CDATA[
{
"attributeList" : [{"attribute""http://axschema.org/birthDate", "attribute""http://axschema.org/contact/postalCode/home"}],
"requestEnvelope" : {"errorLanguage":"en_US", "detailLevel":"ReturnAll"}
}
]]></apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>      
		
		

	</resources>

</application>
